
<h1 class="text-center">Stupid Coaching</h1>

<div class="m-3 p-2 bg-success p-2 text-dark bg-opacity-10">
  <h2><%= @question %></h2>
  <h4> - you </h4>
</div>

<div class="m-3 p-2 bg-warning p-2 text-dark bg-opacity-10">
  <h2><%= @answer %></h2>
  <h4> - coach </h4>
</div>


<%# If the message is I am going to work, the coach will answer Great!
If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!.
Otherwise the coach will answer I don't care, get dressed and go to work!
 %>

<button class="m-3 btn"><%= link_to "ask a new question", ask_path %></button>
